body 
{
    color: #0d1b2a;
    background-color: #fefae0;
    font-family: Baskerville, Baskerville Old Face, Garamond, Times New Roman, serif
}


.navigation 
{
    display:flex;
    justify-content: space-evenly;
    justify-content: center;
    font-size: large;

    background-color:#faedcd;
    border-radius: 2px;
}

.register
{
    display:flex;
    justify-content: right;
    font-size: x-large;
}


.login 
{
    display:flex;
    justify-content:right;
    font-size: x-large;

}

.quote 
{
    display:flex; 
    justify-content: center;
    font-size: xx-large;
    border-radius : 10px;
}
